// variables

$inconsolata: 'Inconsolata', monospace;
$josfin: 'Josefin Sans', sans-serif;
$green: #00ffd1;
$purple:#4452fb;
$pink:rgb(247, 9, 108);
$red: rgb(247, 64, 9);

// mixin for flex box
@mixin  flex($dis,$justi,$align){
    display: $dis;
    justify-content: $justi;
    align-items: $align;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global
:root{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    background-color: #000;
    font-size: 1.6rem;
    color: white;
    font-family: $inconsolata $josfin;
    transition: all 0.6s ease-in-out;
}

// class for changing the color of document
body.change{
    background-color: white;
    color: black;
}
body.change a{
    color: black;
}
// body.change .nav{
//     background-color: white;
// }
@media screen and (max-width:900px){
    body.change .nav__rght-container{
    background-color: rgb(241, 241, 240);
    color: black;
}
}



// container
.container{
    display: grid;
    grid-template-rows: 85px auto;
    grid-template-areas: "navbar"
                        "main";
}

a{
    color: white;
    text-decoration: white;
}

// navbar
.nav{
    @include flex(flex,space-between,center);
    padding: 0 0.4em;
    // height: 7vh;
    grid-area: navbar;
    //screen size for desktop 
    @media screen and (min-width:900px) {
        margin: 3.5rem 3rem;
    }

    // navbar-left-container
    .nav__left-container{
        @include flex(flex, center, center);
        gap: 1rem;

        @media screen and (min-width:900px){
            gap: 1.8rem;
        }
        .nav__left-container--title{
            font-size: 2rem;

            @media screen and (min-width:900px){
                font-size: 2.5rem;
            }
        }
    }

    // navbar-menubarfor phone

    .nav__center-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0 1.5em;
        cursor: pointer;
        
        &--line1.cut{
            transform: rotate(55deg) translate(-1px,1px);
        }
        &--line3.cut{
            transform: rotate(-55deg) translate(5px,-6px);
        }
        &--line2.hide{
            display: none;
        }

        @media screen and (min-width:900px) {
            display: none;
        }
        .nav__center-container-line{
            height: 2px;
            width: 30px;
            background-color: white;
        }
        .nav__center-container-line.bg-black{
            background-color: black;
        }
        
    }

    .nav__rght-container{
       @include flex(flex, center, center);
       flex-direction: column;
        width: 100%;
        height: 30%;
        position: absolute;
        top: -1000px;
        left:0;
        background-color: #0d0d0d;
        gap: 1.8rem;
        font-size: 2.7rem;
        font-family: $inconsolata;
        color: white;
        transition: all 0.6s ease-in-out;

        &--about{
            transition: color 0.4s ease;
            &:hover{
                color: $green;
            }
        }
        &--work{
            transition: color 0.4s ease;
            &:hover{
                color: $purple;
            }
        }
        &--contact{
            transition: color 0.4s ease;
            &:hover{
                color: $green;
            }
        }
        @media screen and (min-width:900px) {
            flex-direction: row;
            position: static;
            width: inherit;
            height: inherit;
            background-color: transparent;
            font-size: 1.9rem;
            font-family: $josfin;
            padding: 0 2em;
            gap: 3.5rem;
        }
        .label{
            height: 23px;
            width: 50px;
            background-color: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor:pointer;
            position: relative;
        }
        .label.bg-black{
            background-color: black;
        }
        .nav__change--ball.bg-white{
            background-color: white;
        }
        .nav__change--ball{
            height: 21px;
            width: 21px;
            background-color: black;
            border-radius: 50%;
            position: absolute;
            top: 1px;
            left: 2px;
        }
        #checkbox{
            opacity: 0;
            position: absolute;
        }
        #checkbox:checked + .label .nav__change--ball{
            transform: translateX(25px);
        }

    }
    .nav__rght-container.active{
        top: 10%;
        height: 30%;
        width: 100%;
    }
}

// main section
.main{
    grid-area: main;
    @include flex(flex, center, center);
    flex-direction: column;
}

// main__container page of home page

.main__container{
    @include flex(flex, space-around, center);
    flex-direction:column;
    height: 93vh;
    text-align: center;
    margin:0 0 10rem 0;

    @media screen and (min-width:900px) {
        height: 90vh;
        margin: 4rem 0;
    }

    // heading 

    .main__text-content{
        @include flex(flex, center, center);
        flex-direction: column;
        gap: 2rem;

        @media screen and (min-width:900px) {
            gap: 4rem;
        }

        .main__heading{
            padding: 0 1em;
            font-family: $josfin;
            font-size: 1.6rem;
            font-weight: bolder;
            line-height: 45px;
            letter-spacing: 1.3px;
    
            @media screen and (min-width:900px) {
                display: flex;
                gap: 1rem;
                font-size: 3rem;
            }
            &--design{
                color: $green;
            }
            &--devloper{
                color: $purple;
            }
        }
        .main__content{
            font-family: $inconsolata;
            font-size: 1.8rem;
            margin: 0 2rem;
            letter-spacing: 1.5px;
            line-height: 27px;

            @media screen and (min-width:900px) {
                font-size: 2.1rem;
                letter-spacing: 0.5px;
            }
        }
    
    }
    // avtar image on home page
    .main__avtar{
        width: 160px;
       

        @media screen and (min-width:900px) {
            width: 220px;
        
        }

        .main__avtar-boy{
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
    // screen setup image on home page 
    .main__hero{
        width: 352px;
        @media screen and (min-width:900px) {
            width:580px;
        }
        .main__hero-setup{
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
}

// about sectiion

.about{
    @include flex(flex, space-around, center);
    flex-direction:column;
    // height: 100vh;
    text-align: start;
    margin: 4rem 1rem;
    
    @media screen and (min-width:900px) {
        width: 1300px;
        margin: 10rem 0;
        height: 100vh;
        margin: 15rem 0;
    }

    // about container

    .about__container{
        @include flex(flex, center, start);
        flex-direction: column;
        gap: 2.5rem;
        text-align: center;
        margin: 0 1rem;
        // transform: scale(0.85);
        
        @media screen and (min-width:900px) {
            gap: 3rem;
            margin: 3rem 0;
            
        }
        // heading About
        &--about{
            color: $pink;
        }

        // content in about section
        .about__container-content{
            @include flex(flex, center, start);
            flex-direction: column;
            gap: 2rem;
            // line-height: 27px;
            // letter-spacing: 1.5px;
            text-align: start;
            font-family: $josfin;
            transform: scale(0.85);
            opacity: 0;
            transition: all 0.7s ease-in-out;

            

            .about__container-content--title{
                font-size: 2.1rem;
                margin: 0;

                @media screen and (min-width:900px) {
                    font-size: 4.5rem;
                }
                
                &--name{
                    color: $green;
                }
                &--meet{
                    color: $purple;
                }
            }
            &--para{
                font-family: $inconsolata;
                font-size: 1.8rem;
                letter-spacing: 1.3px;
                line-height: 27px;

                @media screen and (min-width:900px) {
                    font-size: 2.255rem;
                    width: 1300px;
                    padding: 0 0.5em;
                }
            }
            margin-bottom: 5rem;
        }
    }

    // capabiltes

    .capa{
        margin: 3rem 0;
        @include flex(flex, center, start);
        flex-direction: column;
        gap: 3rem;
        margin: 0 0.5em;

        @media screen and (min-width:900px) {
            margin: 0;
            width: 1300px;
        }

        &--heading{
            color: $red;
        }

        // capa container
        .capa__container{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            text-align: start;
            opacity: 0;
            transform: scale(0.85);
            transition: all 0.7s ease-in-out;

            @media screen and (min-width:900px) {
                flex-direction: row-reverse;
                justify-content: space-around;
                gap: 15rem;
                
            }

            // image container

            .capa__container-img{
                width: 250px;
                @media screen and (min-width:900px) {
                    width: 400px;
                }
                &--system{
                    padding: 0 1em;
                    display: block;
                    width: 100%;
                    object-fit: cover;
                }
            }
            // all the text part of capa
            .capa__content{
                display: flex;
                flex-direction: column;
                gap: 3.5rem;
    
                // title of web design
                &--design{
                    color: $green;
                    font-family: $josfin;
                    font-size: 2.8rem;
                    font-weight: bolder;
                }

                // heading para
                &--heading{
                    font-family: $josfin;
                    font-size: 2.2rem;
                    letter-spacing: 1px;
                    line-height: 27px;
                    text-align: start;

                    @media screen and (min-width:900px) {
                        font-size: 3.5rem;
                        line-height: 38px;
                        letter-spacing: 2px;
                    }
                }

                // para's in capabilites
                &-para{
                    font-family: $inconsolata;
                    font-size: 2rem;
                    line-height: 27px;
                    letter-spacing: 1px;

                    @media screen and (min-width:900px) {
                        font-size: 2.3rem;
                        letter-spacing: 1.5px;
                    }
                }

            }
        }
        .capa__list{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-family: $josfin;
            font-size: 1.8rem;
            @media screen and (min-width:900px) {
                font-size: 2.2rem;
            }

            &-type{
                @include flex(flex, flex-start, center);
                gap: 2rem;
            }
            &-cicle{
                border-radius: 50%;
                height: 10px;
                width: 10px;
                @media screen and (min-width:900px) {
                    height: 12px;
                    width: 12px;
                }
                &--purple{
                    background-color: $purple;
                }
                &--green{
                    background-color: $green;
                }
            }

        }
    }
    // both heading of about and capabilites font style
    .about-heading{
        font-size: 4.5rem;
        font-weight: bolder;
        font-family: $josfin;

        @media screen and (min-width:900px) {
            font-size: 6rem;
        }
    }

    .about__container-content.appear{
        opacity: 1;
        transform: scale(1);
        
    }
    .capa__container.appear{
        opacity: 1;
        transform: scale(1);
    }
}